<b><font size="4">Imports and load dataset</font></b>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import mean_absolute_error
#linerar regression, logit regression take less time for training the model, but some tree based models take more time
#say 4 hours, to save object(and store it in a pickle file(pickle the file and use same model in the test data set)) when 
#learning is done, so that we don't use the learned object again n again

In [2]:
df=pd.read_csv('t20Data_with_features.csv')

In [3]:
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries
0,211028,1,England,Australia,0.1,0,1,0,0,179,0,0,0,0,1,0
1,211028,1,England,Australia,0.2,0,2,1,0,179,1,1,0,0,1,0
2,211028,1,England,Australia,0.3,0,3,0,0,179,1,1,0,0,2,0
3,211028,1,England,Australia,0.4,0,4,0,0,179,1,1,0,0,3,0
4,211028,1,England,Australia,0.5,0,5,0,0,179,1,1,0,0,4,0

In [4]:
#ML can't understand Engalnd,Australia- it should either be continuous of binary variables, encode it into any form- say assign
#categories(1-ind,2-eng)-categorizing them into multi class is called label encoding,converting them into isEngland(0,1),
#isAus(0,1) is called one hot encoding(in scikit learn)

<b><font size="4">One hot encoding</font></b>

In [5]:
# in pandas-get_dummies function- for performing one hot encoding

pd.get_dummies(data=df,columns=['batting_team','bowling_team'])

,id,innings,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,...,batting_team_West Indies,bowling_team_Australia,bowling_team_Bangladesh,bowling_team_England,bowling_team_India,bowling_team_New Zealand,bowling_team_Pakistan,bowling_team_South Africa,bowling_team_Sri Lanka,bowling_team_West Indies
0,211028,1,0.1,0,1,0,0,179,0,0,...,0,1,0,0,0,0,0,0,0,0
1,211028,1,0.2,0,2,1,0,179,1,1,...,0,1,0,0,0,0,0,0,0,0
2,211028,1,0.3,0,3,0,0,179,1,1,...,0,1,0,0,0,0,0,0,0,0
3,211028,1,0.4,0,4,0,0,179,1,1,...,0,1,0,0,0,0,0,0,0,0
4,211028,1,0.5,0,5,0,0,179,1,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212373,1287775,2,18.2,18,2,1,0,208,196,56,...,0,0,0,0,0,0,0,0,0,1
212374,1287775,2,18.3,18,3,6,0,208,202,61,...,0,0,0,0,0,0,0,0,0,1
212375,1287775,2,18.4,18,4,0,0,208,202,57,...,0,0,0,0,0,0,0,0,0,1
212376,1287775,2,18.5,18,5,5,0,208,207,61,...,0,0,0,0,0,0,0,0,0,1
212377,1287775,2,18.6,18,6,1,0,208,208,56,...,0,0,0,0,0,0,0,0,0,1

In [6]:
df=pd.get_dummies(data=df,columns=['batting_team','bowling_team'])

In [7]:
df.columns

Index(['id', 'innings', 'overs', 'over', 'ball', 'total_runs',
       'player_dismissed', 'total', 'total_score', 'prev_30_runs',
       'prev_30_wickets', 'total_wickets', 'prev_30_dot_balls',
       'prev_30_boundaries', 'batting_team_Australia',
       'batting_team_Bangladesh', 'batting_team_England', 'batting_team_India',
       'batting_team_New Zealand', 'batting_team_Pakistan',
       'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies', 'bowling_team_Australia',
       'bowling_team_Bangladesh', 'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies'],
      dtype='object')

In [8]:
df=df[['id','batting_team_Australia',
       'batting_team_Bangladesh', 'batting_team_England', 'batting_team_India',
       'batting_team_New Zealand', 'batting_team_Pakistan',
       'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies', 'bowling_team_Australia',
       'bowling_team_Bangladesh', 'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies', 'overs', 'total_score','total_wickets', 'prev_30_runs',
       'prev_30_wickets',  'prev_30_dot_balls',
       'prev_30_boundaries', 'total']]

<b><font size="4">Splitting data into training and testing sets</font></b>

In [9]:
X=df.drop(labels=['total','id'],axis=1)
y=df['total'].values

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42,stratify=y)

In [11]:
X_train=X_train.values
X_test=X_test.values
X_train=np.asarray(X_train).astype(np.float32)
X_test=np.asarray(X_test).astype(np.float32)

In [12]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(159283, 25) (53095, 25) (159283,) (53095,)

<b><font size="4">Training the model</font></b>

In [13]:
LR_model=LinearRegression()
LR_model.fit(X_train,y_train)

LinearRegression()

In [14]:
#creating a pickle file for the classifier
filename='lr-model.pkl'
pickle.dump(LR_model,open(filename,'wb'))

In [15]:
prediction=LR_model.predict(X_test)
mean_absolute_error(y_test,prediction)

18.68378209179545

In [16]:
#+-18 runs from predicted value

<b><font size="4">Function for predicting the score</font></b>

In [17]:
#Function to predict the score
def score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,prev_30_runs,prev_30_wickets,prev_30_dot_balls,prev_30_boundaries):
    temp_array=list()
    if Bat_team=='AUS':
        temp_array=temp_array+[1,0,0,0,0,0,0,0,0]
    elif Bat_team=='BAN':
        temp_array=temp_array+[0,1,0,0,0,0,0,0,0]
    elif Bat_team=='ENG':
        temp_array=temp_array+[0,0,1,0,0,0,0,0,0]
    elif Bat_team=='IND':
        temp_array=temp_array+[0,0,0,1,0,0,0,0,0]
    elif Bat_team=='NZ':
        temp_array=temp_array+[0,0,0,0,1,0,0,0,0]
    elif Bat_team=='PAK':
        temp_array=temp_array+[0,0,0,0,0,1,0,0,0]
    elif Bat_team=='SA':
        temp_array=temp_array+[0,0,0,0,0,0,1,0,0]
    elif Bat_team=='SL':
        temp_array=temp_array+[0,0,0,0,0,0,0,1,0]
    elif Bat_team=='WI':
        temp_array=temp_array+[0,0,0,0,0,0,0,0,1]
        
    
    if Bowl_team=='AUS':
        temp_array=temp_array+[1,0,0,0,0,0,0,0,0]
    elif Bowl_team=='BAN':
        temp_array=temp_array+[0,1,0,0,0,0,0,0,0]
    elif Bowl_team=='ENG':
        temp_array=temp_array+[0,0,1,0,0,0,0,0,0]
    elif Bowl_team=='IND':
        temp_array=temp_array+[0,0,0,1,0,0,0,0,0]
    elif Bowl_team=='NZ':
        temp_array=temp_array+[0,0,0,0,1,0,0,0,0]
    elif Bowl_team=='PAK':
        temp_array=temp_array+[0,0,0,0,0,1,0,0,0]
    elif Bowl_team=='SA':
        temp_array=temp_array+[0,0,0,0,0,0,1,0,0]
    elif Bowl_team=='SL':
        temp_array=temp_array+[0,0,0,0,0,0,0,1,0]
    elif Bowl_team=='WI':
        temp_array=temp_array+[0,0,0,0,0,0,0,0,1]
        
    
    temp_array=temp_array+[overs,total_score,total_wickets,prev_30_runs,prev_30_wickets,prev_30_dot_balls,prev_30_boundaries]
    data=np.array([temp_array])
    my_prediction=int(LR_model.predict(data))
    print('predicted_score',my_prediction)
    print('predicted_score_range',my_prediction-18,'to',my_prediction+18)

In [18]:
Bat_team='AUS'

Bowl_team='IND'

overs=10.3

total_score=67

total_wickets=2

prev_30_runs=37

prev_30_wickets=1

prev_30_dot_balls=8

prev_30_boundaries=5

score_prediction(Bat_team,Bowl_team,overs,total_score,total_wickets,prev_30_runs,prev_30_wickets,prev_30_dot_balls,prev_30_boundaries)

predicted_score 139
predicted_score_range 121 to 157